body{

font-family:Arial;
margin:0;
background:#f5f5f5;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:#222;
color:white;

}

.logo{

font-size:28px;
font-weight:bold;

}

.logo span{

color:gold;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}

.hero{

text-align:center;
padding:80px;
background:#333;
color:white;

}

.hero input{

padding:10px;
width:250px;

}

.hero button{

padding:10px 20px;
background:gold;
border:none;

}

.delivery{

text-align:center;
padding:20px;
background:white;

}

.categories{

padding:40px;
text-align:center;

}

.category-grid{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}

.category-card{

background:white;
padding:20px;
width:150px;
text-decoration:none;
color:black;
border:1px solid #ddd;

}

.features{

background:white;
padding:40px;
text-align:center;

}

.feature-grid{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}

.feature-box{

width:200px;
background:#eee;
padding:20px;

}

.seller{

text-align:center;
padding:40px;

}

.seller-btn{

background:gold;
padding:15px 25px;
text-decoration:none;
color:black;

}

footer{

background:#222;
color:white;
text-align:center;
padding:30px;

}
.admin-box{

background:white;
padding:20px;
margin:20px;
border:1px solid #ddd;

}